.flex-container{
    display: flex;
    justify-content:center
}
.pick-color{
    display: flex;
    justify-content: center;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.phone-name{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
}
.green { 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.yellow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.red {  
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    
}